.hidden {
  display: none !important;
}

.red {
  color: #fd685c;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  width: 24rem;
}

.block {
  width: 4rem;
  height: 2rem;
  margin: 10px;
}

.green {
  background-color: green;
}
