/**********
 Blog
***********/
:root {
  --l-content-width: 80vw;
  --l-info-width: 20vw;
  /*--m-info-width: 30vw;*/
}

.blog {
  /*height: 1000px;*/
  display: flex;
}

.blog .content {
  width: 70vw;
  height: 100%;
  background-color: var(--white);
}

.blog .info {
  width: 30vw;
  height: 100%;
  background-color: var(--green);
}

/*Mobile*/
@media only screen and (max-width: 767px) {
  .blog .content {
    width: 100vw;
  }

  .blog .info {
    display: none;
  }
}
/*Tablet*/
@media only screen and (min-width: 767px) {

}
/*Desktop*/
@media only screen and (min-width: 1280px) {
  .blog .content {
    width: var(--l-content-width);
  }
  .blog .info {
    width: var(--l-info-width);
  }
}

.progress {
  position: fixed;
  list-style: none;
  padding-left: 0;
}

.progress li {
  display: flex;
  height: 60px;
  align-items: center;
}

.progress svg {
  x: 0px;
  y: 0px;
  width: 50px;
  height: 50px;
}

.progress circle {
  fill: none;
  stroke: var(--purple);
  stroke-width: 4;
}

.progress a {
  padding-left: 10px;
  text-decoration: none;
  color: var(--grey);
}

.progress a.read {
  color: var(--grey);
}

.progress a.reading {
  color: var(--purple);
}
