/**********
 Blogs
***********/
:root {
  --l-card-width: 24%;
  --l-card-height: 400px;
  --l-cover-height: 200px;
  --l-content-height: 170px;
  --m-card-width: 32%;
  --m-card-height: 400px;
  --m-cover-height: 200px;
  --m-content-height: 170px;
  --sm-card-width: 100%;
  --sm-card-height: 200px;
  --sm-cover-width: 60vw;
  --sm-content-width: 55vw;
}

/* Blog Filter CSS */
.blogs-filter {
  position: fixed;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: var(--white);
  user-select: none;
  z-index: 2;
}
.blogs-filter ul {
  margin: 0 0;
}
.blogs-filter li {
  list-style-type: none;
}
.blogs-filter a {
  display: inline-block;
  line-height: 50px;
  height: 50px;
  font-size: 1.1em;
  text-decoration: none;
  background-color: var(--white);
  color: var(--grey);
}
.blogs-filter a:hover {
  font-size: 1.1em;
  text-decoration: none;
  color: var(--strong-purple);
}
.blogs-filter a.mixitup-control-active {
  color: var(--strong-purple);
  box-shadow: inset 0 -2px 0 var(--strong-purple);
}

.blogs-filter .sort {
  padding-left: 10px;
  display: flex;
  margin-right: auto;
}

.blogs-filter .categories {
  display: flex;
  position: absolute;
}
.blogs-filter .categories .placeholder {
  display: none;
  width: 100%;
  box-shadow: inset 0 -2px 0 var(--strong-purple);
}
.blogs-filter .categories .placeholder a {
  color: var(--strong-purple);
}
.blogs-filter .categories a {
  padding: 0 0.3em;
}

/* Blogs */
.blogs {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px 16px;
  padding-top: 66px;
  z-index: 1;
}

.card {
  margin-bottom: 2vw;
  background-color: var(--white);
}

.card .cover {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.card .cover img{
  width: 100%;
  height: 100%;
}

.card .content {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: var(--white);
  margin: -30px 20px 20px 20px;
  padding: 20px 20px;
  z-index: 2;
}
.card .content h1 {
  padding: 0;
  margin: 0;
  font-size: 1em;
}
.card hr {
  width: 100%;
  height: 1px;
  color: var(--grey);
}
.card .content p {
  font-size: 1em;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0;
}

/*Mobile*/
@media only screen and (max-width: 767px) {
  .card {
    display: flex;
    flex-direction: row;
    width: var(--sm-card-width);
    height: var(--sm-card-height);
    margin-bottom: 20px;
  }

  .card .cover {
    height: var(--sm-card-height);
    width: var(--sm-cover-width);
  }
  .card .content {
    height: 150px;
    width: var(--sm-content-width);
    margin: 30px 0 0 -60px;
    padding: 10px 10px;
  }

  .blogs-filter .categories {
    padding: 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
  }
  .blogs-filter .categories li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .blogs-filter .categories li a {
    padding: 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .blogs-filter .categories .filter {
     display: none;
  }
  .blogs-filter .categories .placeholder {
    display: flex;
  }
  .blogs-filter .categories a.mixitup-control-active {
    color: var(--white);
    background-color: var(--strong-purple);
  }
}
/*Tablet*/
@media only screen and (min-width: 767px) {
  .card {
    width: var(--m-card-width);
    height: var(--m-card-height);
    background: var(--white);
  }

  .card .cover {
    height: var(--m-cover-height);
  }

  .card .content {
    height: var(--m-content-height);
  }
}
/*Desktop*/
@media only screen and (min-width: 1280px) {
  .card {
    width: var(--l-card-width);
    height: var(--l-card-height);
  }

  .card .cover {
    height: var(--l-cover-height);
  }
  .card .content {
    height: var(--l-content-height);
  }
}

.dropdown-open {
  display: flex !important;
}
