/**********
 Blogs
***********/
:root {
  --l-info-width: 24%;
  --l-info-height: 15vw;
  --l-cover-height: 10vw;
  --l-content-height: 5vw;
  --m-info-width: 32%;
  --m-info-height: 15vw;
  --m-cover-height: 10vw;
  --m-content-height: 5vw;
  --sm-info-width: 100%;
  --sm-info-height: 40vw;
  --sm-cover-height: 30vw;
  --sm-content-height: 10vw;
}

/* Blog Filter CSS */
.blogs-filter {
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: var(--white);
  user-select: none;
}
.blogs-filter ul {
  margin: 0 0;
}
.blogs-filter li {
  list-style-type: none;
}
.blogs-filter a {
  display: inline-block;
  line-height: 50px;
  height: 50px;
  font-size: 1.1em;
  text-decoration: none;
  color: var(--grey)
}
.blogs-filter a:hover {
  font-size: 1.1em;
  text-decoration: none;
  color: var(--strong-purple);
}
.blogs-filter a.mixitup-control-active {
  color: var(--strong-purple);
  box-shadow: inset 0 -2px 0 var(--strong-purple);
}

.blogs-filter .sort {
  padding-left: 10px;
  display: flex;
  margin-right: auto;
}

.blogs-filter .categories {
  display: flex;
  position: absolute;
}
.blogs-filter .categories .placeholder {
  display: none;
  width: 100%;
  box-shadow: inset 0 -2px 0 var(--strong-purple);
}
.blogs-filter .categories .placeholder a {
  color: var(--strong-purple);
}
.blogs-filter .categories a {
  padding: 0 0.3em;
}

/* Blogs */
.blogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px 16px;
}

.info {
  margin-bottom: 2vw;
}

.info .cover {
  overflow: hidden;
}
.info .cover img{
  width: 100%;
  height: 100%;
  border-radius: .5em .5em 0 0;
}

.info .content {
  height: var(--l-content-height);
  background-color: var(--green);
  border-radius: 0 0 .5em .5em;
}
.info .content h1 {
  padding: 0;
  margin: 0;
  font-size: 1.6em;
}
.info .content p {
  padding: 0;
  margin: 0;
  font-size: 1em;
  padding: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*Mobile*/
@media only screen and (max-width: 768px) {
  .info {
    width: var(--sm-info-width);
    height: var(--sm-info-height);
    margin-bottom: 2vw;
  }

  .info .cover {
    height: var(--sm-cover-height);
  }
  .info .content {
    height: var(--sm-content-height);
  }

  .blogs-filter .categories {
    padding: 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: var(--white)
  }
  .blogs-filter .categories li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .blogs-filter .categories li a {
    padding: 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .blogs-filter .categories .filter {
     display: none;
  }
  .blogs-filter .categories .placeholder {
    display: flex;
  }
  .blogs-filter .categories a.mixitup-control-active {
    color: var(--white);
    background-color: var(--strong-purple);
  }
}
/*Tablet*/
@media only screen and (min-width: 768px) {
  .info {
    width: var(--m-info-width);
    height: var(--m-info-height);
  }

  .info .cover {
    height: var(--m-cover-height);
  }

  .info .content {
    height: var(--m-content-height);
  }
}
/*Desktop*/
@media only screen and (min-width: 1280px) {
  .info {
    width: var(--l-info-width);
    height: var(--l-info-height);
  }

  .info .cover {
    height: var(--l-cover-height);
  }
  .info .content {
    height: var(--l-content-height);
  }
}

.dropdown-open {
  display: flex !important;
}
