/*******
 Buttons
********/
:root{
  --success:#736BBA;
}

.button {
  border-radius: 0.25em;
  background-color: #837AD3;
  color: white;
  padding: 10px 0;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1.5;
  text-decoration: none;
  transition: .20s all linear;
}
.button:focus,
.button:hover {
  background-color: #968FD3;
}

.button.narrow {
  width: 25%;
}

.button.scale:focus,
.button.scale:hover {
  transform: scale(1.1,1.1);
}

.button.warning {
  background-color: #F9CA3B;
  color: white;
}
.button.warning:focus,
.button.warning:hover {
  background-color: #F9D66D;
}

.button.error {
  background-color: #E94B35;
  color: white;
}
.button.error:focus,
.button.error:hover {
  background-color: #E87363;
}

.button.success {
  background-color: #38C141;
  color: white;
}
.button.success:focus,
.button.success:hover {
  background-color: #5EC165;
}
