/*******
 Buttons
********/

.button {
  border-radius: 0.25em;
  background-color: var(--purple);
  color: white;
  padding: 10px 0;
  display: block;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1.5;
  text-decoration: none;
  transition: .20s all linear;
}
.button:focus,
.button:hover {
  background-color: var(--purple-active);
}

.button.narrow {
  width: 25%;
}

.button.scale:focus,
.button.scale:hover {
  transform: scale(1.1,1.1);
}

.button.warning {
  background-color: var(--yellow);
  color: white;
}
.button.warning:focus,
.button.warning:hover {
  background-color: var(--yellow-active);
}

.button.error {
  background-color: var(--red);
  color: white;
}
.button.error:focus,
.button.error:hover {
  background-color: var(--red-active);
}

.button.success {
  background-color: var(--green);
  color: white;
}
.button.success:focus,
.button.success:hover {
  background-color: var(--green-active);
}
