/**********
 Footer
***********/
.reference {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--dark);
  align-items: flex-start;
}

.reference .item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item h1 {
  color: var(--white);
  font-size: 1.5em;
}

.item a {
  color: var(--purple);
  font-size: 1.5em;
  text-decoration: none;
}

.item p{
  font-size: 1em;
  color: var(--white);
}

.item ul {
  margin: 0px 0px;
  padding: 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.item ul a{
  font-size: 1em;
  padding: 5px;
}

.foot {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 50px;
  background-color: var(--strong-dark);
  align-items: center;
}

.foot p {
  color: var(--white);
}

.foot a {
  color: var(--purple);
  text-decoration: none;
}
