/**********
 Navigation
***********/
.header {
  background-color: var(--dark);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  padding-left: 10px;
  color: var(--white);
  font-family: arial-black;
  font-size: 22px;
  letter-spacing: 3px;
}

.toggle {
  display: flex;
  width: 60px;
  height: 38px;
  position: relative;
  margin: 10px 10px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.toggle span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: var(--white);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.toggle span:nth-child(1) {
  top: 0px;
}

.toggle span:nth-child(2) {
  top: 15px;
}

.toggle span:nth-child(3) {
  top: 30px;
}

.toggle.open span:nth-child(1) {
  top: 15px;
  transform: rotate(135deg);
}

.toggle.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.toggle.open span:nth-child(3) {
  top: 15px;
  transform: rotate(-135deg);
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu li {
  list-style-type: none;
  transform: skew(-15deg);
}
.menu li a {
  color: var(--white);
  text-transform: uppercase;
  font-size: 15px;
  border-left: 2px solid var(--dark-second);
  text-align: center;
  text-decoration: none;
  padding: 15px 25px;
  transition: .20s all linear;
}
.menu li:last-child a {
  border-right: 2px solid var(--dark-second);
}
.menu li a:focus,
.menu li a:hover,
.menu li a:active {
  background-color: var(--dark-active);
  color: var(--white);
}

@media only screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .toggle {
    display: none;
  }
  .menu {
    padding-right: 10px;
  }
}
