/**************************
 Styles for site ole3021.me
 ---------------by Oliver.W
***************************/

/***************
 Micro clear fix
  fixing cllapse
****************/
.grouping:before
.grouping:after {
  content: " ";
  display: table;
}
.grouping:after {
  clear: both;
}

/********
 Core fix
*********/

img, iframe, video, object {
  max-width: 100%;
}
strong, b {
  font-weight: bold;
}

/***********
 Core Styles
************/

:root {
  --blue: #1784C7;
  --blue-active: #459DD2;
  --blue-second: #459DD2;
  --dark: #2C3136;
  --dark-active: #3E454C;
  --dark-second: #373D44;
  --strong-dark: #1F1F1F;
  --green: #7DCF85;
  --green-active: #A2DDA8;
  --grey: #9A9A9A;
  --purple: #837AD3;
  --purple-active: #968FD3;
  --strong-purple: #41307C;
  --red: #EA6A68;
  --red-active: #EB8585;
  --white: white;
  --yellow: #FFB500;
  --yellow-active: #FFBC1A; /* 调亮 */
  --screen-lg-min: 1280px;
  --screen-sm-min: 786px;

}

html {
  font-family: Arial, Helvetica, sans-serif;
}


h1 {
  font-size: 70px;
  line-height:1.4;
  font-weight: bold;
  color: var(--dark);
}
.alt-headline {
  font-size: 40px;
}
h2 {
  font-size:26px;
  font-style: italic;
  color: var(--dark-second);
  margin-bottom: 10px;
}
p {
  font: normal normal 18px/1.6 Georgia, 'Times New Roman', serif;
}
