.home {
  padding: 64px 0px 0px 0px;
  width: 100%;
}

.home header {
  text-align: center;
  min-height: 40vh;
  display: flex;
  align-items: center;
  padding: 6rem 5rem;
  box-sizing: border-box;
  flex: 1 1;
  flex-direction: column;
}

.container {
  padding: 0 !important;
}
