.home {
  padding: 64px 0px;
  min-height: 100%;
  width: 100%;
}

.home header {
  text-align: center;
  min-height: 40vh;
  display: flex;
  align-items: center;
  padding: 6rem 5rem;
  box-sizing: border-box;
  flex: 1 1;
}

.container {
  position: relative;
  padding: 1rem;
  max-width: 50rem;
  margin: 0 auto;
  display: block;
}
